.page {
    /* высота 100% экрана*/
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    background-color: #eff0f1;
}
.header-nav {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: blueviolet;
}

.nav-link {
    color: burlywood;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-link:hover {
    color: cornsilk;
}
.user-greating {
    margin: 0;
    padding: 8px 16px;
}
.news {
    background-color: brown;
}
/*---footer---*/
.footer-content {
    background-color: blueviolet;
    min-height: 5rem;
}

.footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-col > p {
    margin: 0;
}